# Cache and logs (Symfony2)
/Tests/Functional/app/cache/*
/Tests/Functional/app/logs/*
!/Tests/Functional/app/cache/.gitkeep
!/Tests/Functional/app/logs/.gitkeep

# Parameters
/Tests/Functional/app/config/parameters.yml

# Binary
/Tests/Functional/bin/*
!/Tests/Functional/bin/console
/vendor/

# PHPUnit
/Tests/Functional/app/phpunit.xml
/phpunit.xml

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

# phpdoc files
/doc/api/*
!/doc/api/.gitkeep
